/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

/build/
/vendor/
/bin/
/web/bundles/
/web/coverage/
/web/components/

/composer.phar

.DS_Store
behat.yml
